<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.BcExternalUserBackupMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.BcExternalUserBackup" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="excel_id" property="excelId" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>