<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.BcExternalUserMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.BcExternalUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="excel_id" property="excelId" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="sys_if_register" property="sysIfRegister" jdbcType="VARCHAR" />
    <result column="sys_register_date" property="sysRegisterDate" jdbcType="VARCHAR" />
    <result column="sys_if_real_name" property="sysIfRealName" jdbcType="VARCHAR" />
    <result column="sys_if_bind_card" property="sysIfBindCard" jdbcType="VARCHAR" />
    <result column="sys_if_transaction" property="sysIfTransaction" jdbcType="VARCHAR" />
    <result column="sys_referrer" property="sysReferrer" jdbcType="VARCHAR" />
    <result column="sys_rebate_expiration_date" property="sysRebateExpirationDate" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>