<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.customer_service.mapper.CsUserMapper" >
  <resultMap id="BaseResultMap" type="com.evergrande.customer_service.model.CsUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="settlement_capital" property="settlementCapital" jdbcType="VARCHAR" />
    <result column="inception_date" property="inceptionDate" jdbcType="DATE" />
    <result column="due_date" property="dueDate" jdbcType="DATE" />
    <result column="id_no" property="idNo" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>